# Base de datos PostgreSQL
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=branchview

# Backend FastAPI
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/branchview
# Para producción en Render conectando a Neon:
# DATABASE_URL=postgresql://neondb_owner:password@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=branchview_super_secret_jwt_key_change_in_production_2026
PYTHON_VERSION=3.12.8

# Frontend
VITE_API_URL=http://localhost:8000/api
# Para frontend desplegado en producción:
# VITE_API_URL=https://branchview-backend.onrender.com/api
